   body {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  #easing {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }

  .jumbotron h1 {
    font-size: 50px
  }

  #entry_167457972 {
    margin-bottom: 20px;
    min-height: 200px;
    width: 100%;
    padding: 0px 10px;
  }

  #ss-submit {
   margin-bottom: 20px;
 }

 img {
   width: 100%;
 }

 .thumbnail {
   width: 70%;
 }




